caption {
  text-align: right;
  font-weight: bolder;
}

td {
  width:60px;
  height:60px;
  margin: 0;
  padding: 0;
  border:1px solid #333;
  background: white;
  color: black;
}

.calcButton {
  position: relative;
  width: 100%;
  height: 40%;
  text-align: center;
  font-weight: bolder;
  font-size: 150%;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}

.highlighted {
  background: #91bbff;
  color: white;
}